<h1>Editing Idea</h1>

<%= render 'form_edit', idea: @idea %>

<%= link_to 'Show', @idea %> |
<%= link_to 'Back', ideas_path %> |
<%= link_to 'Delete', @idea, method: :delete, data: { confirm: 'Are you sure?' } %>
